.container {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  height: 100%;
  z-index: -1;
}

.leftSide {
  width: calc(var(--left-side-width) + 1rem);
}
.rightSide {
  width: 100%;

  padding: 1.2rem 2rem;
  background-color: aqua;
}

.title {
}
.description {
}
