.container {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  height: 100%;
}

.leftSide {
  z-index: -1;
  width: var(--left-side-width);
}
.rightSide {
  width: calc(100vw - var(--left-side-width));
  width: 100vw;

  z-index: -1;
  padding: 1.2rem 2rem 1.2rem 1.2rem;
  width: auto;
  background-color: red;
}

.title {
}
.description {
}
