.container {
  height: 100%;
}

.main {
  display: flex;
}

.leftSide {
  background-color: #f8fff4;
  height: calc(100vh - var(--header-height));
  width: var(--left-side-width);
  margin-bottom: auto;
}
.rightSide {
  width: 100%;
  padding: 1.2rem 2rem;
}
