.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
  /* color: white; */

  /* Better, because if i change footer text color, the anchor also be this "new" color */
  color: inherit;
}

@media (max-width: 900px) {
  .footer {
    display: none;
  }
}
