.button:visited,
.button:active {
  padding: 1rem 1.4rem;
  border-radius: 5px;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  font-weight: 600;
}

.buttonWithIcon {
  gap: 1rem;
}

.buttonIcon {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.buttonGreen {
  background-color: #3b8f44;
}
.buttonGreen:hover,
.buttonGreen:active {
  cursor: pointer;
  background-color: #337c3a;
}
.buttonRed {
  background-color: #ffbaba;
}
.buttonRed:hover,
.buttonRed:active {
  background-color: #ff9898;
}
