html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top left, #37d5d6, #36096d);
  position: relative;
}

.img-fan {
  width: 40rem;
  display: flex;
  justify-content: center;
}

.img--on1 {
  animation: 0s normal 0s none infinite rotate running;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container__btns {
  display: flex;
  gap: 2rem;
}

.btn {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  font-size: 2.4rem;
  font-weight: 600;
}

.btn:active {
  box-shadow: 0px 12px 15px #00000038;
}

.btn--on {
  background-color: #10bd10;
}

.btn--off {
  background-color: #ca1919;
}

.btn--speed {
  background-color: #afafaf;
}
