@media (max-width: 52em) {
  .nav {
    display: grid;
    height: 16rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .nav__items {
    grid-row: 2/-1;
  }

  .nav__items {
    height: 50%;
    grid-row: 2/-1;
  }

  .nav__img {
    grid-row: 0/1;
    height: 50%;
  }

  .nav__button {
    color: #444;
    border: none;
    border-radius: 13px;
    width: 20rem;
    height: 25%;
    margin: 0 2.4rem;
    cursor: pointer;
  }
}
