/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;

  /* my */
  padding: 0;
}

html {
  /* my */
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  /* my */
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;

  /* my */
  hyphens: auto;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

button {
  /* my */
  cursor: pointer;
}

*:disabled {
  /* my */
  cursor: not-allowed;
}

a {
  /* my */
  text-decoration: none;
}

ul {
  /* my */
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}
