.container {
}

.data {
  font-size: 1.3rem;
}

.input {
  border: 1px solid #3b8f443d;
  color: #3b8f44;
  border-radius: 5px;
  width: 100%;
  outline: none;
}
.input::placeholder {
  color: #3b8f443d;
}

.inputTitle {
  font-weight: 600;
  padding: 1.2rem;
}

.inputDescription {
  display: flex;
  text-align: start;
  padding: 1.2rem;
  height: 30rem;
  font-size: 1.4rem;
}
