.input {
  color: #3b8f44;
  display: flex;
  flex-grow: auto;
  border: solid 1px #acb4ad3d;
  border-radius: 5px;
  padding: 1.2rem;
  outline: none;
}

.input::placeholder {
  color: #3b8f44;
  opacity: 24%;
  font-weight: 600;
}
