@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', serif;
  background-color: #fff;
  color: #21272a;
  font-size: 16px;
  line-height: 1.5;
}
