@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --color-brand: hsla(14, 77%, 54%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
}

@layer components, body {
  body {
    font-family: 'Roboto', serif;
    background-color: #fff;
    color: #21272a;
    font-size: 16px;
  }

  *,
  *::before,
  *::after {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: hsla(215, 28%, 17%, 1);
  }
}
