.button {
  padding: 1rem 1.4rem;
  border-radius: 5px;
  color: #fff;
  border: none;
  /* background-color: red; */
}

.button__green {
  background-color: #3b8f44;
}
.button__red {
  background-color: #ffbaba;
}
