:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.9;
  font-weight: 300;
  color: #444;
  height: 100vh;
  background-color: #f3f3f3;
}

header {
  height: 100vh;
}

.section {
  height: 75vh;
  display: flex;
}

.img {
  width: 50%;
  height: 50%;
  display: inline-block;
  margin: auto;

  transform: rotate3d(20);
}

.section--1 {
  background-color: var(--color-primary);
}
.section--2 {
  background-color: var(--color-secondary);
}
.section--3 {
  background-color: var(--color-tertiary);
}
