.toaster {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  color: var(--white);
  background-color: hsla(250, 88%, 7%, 1);
  border-radius: 1100px;
  position: fixed;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
}
.toaster__icon {
}
.button__close {
}
