.header {
  display: flex;
  background-color: #f8fff4;
  width: 100%;
  height: var(--header-height);
  padding: 0 2.8rem;
}

.logo__container {
  width: var(--left-side-width);
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: red;
}

.logo__image {
  object-fit: cover;
  width: 4rem;
  height: 4rem;
}

.logo__name {
  word-spacing: 100rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 18.75px;
  color: #219653;
}
.button__container {
  display: flex;
  gap: 2rem;
}

.button__add {
}
.button__remove {
}
.search {
}
