@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    border-color: #ccc;
    color: #222;
  }
}
